.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 50px;
  }

.collection-preview {
display: flex;
flex-direction: column;
margin-bottom: 30px;
    .preview {
        display: flex;
        justify-content: space-between;
    }
}

.collections-overview {
    display: flex;
    flex-direction: column;
  }
